<div id="x" class="container pt-3 mt-5" style="border: 1px solid gray;">
  <div id="contMain">  
  <div class="row pl-4 pb-4">
        <div class="col-xs">
          <h3 class="cool-text">Contact Info:</h3>
          
          
          <p>2630 Bissonnet St. Apt 4201 , Houston, Texas, 77005</p>
          <p>Phone: (832)249-0063 </p>
          <p>Email: haideralrustem@yahoo.com </p>
        </div>
    </div>
  </div>


    <div class="row pl-4 pb-4" >
        
        <div class="resumeText">
          <h4 class="text-gp">Connect with me through Social Media: </h4>
        </div>
      
        <div class="social-media-panel-outer">
          <div class="social-media-panel">
            <div id="linkedinDiv">
              <a href="https://www.linkedin.com/in/haider-al-rustem-32010515a/" target="_blank" class="image-wrapper-a">
                <img  id="linkedin" class="social-media-pic" src="../../assets/linkedin.png">
              
              </a>
              <p class="text-gp social-media-text">Linkedin</p>
            </div>
            <div id="facebookDiv" class="">
              <a href="https://www.facebook.com/hydar.ali.92" target="_blank" class="image-wrapper-a">
                <img id="facebook" class="social-media-pic" src="../../assets/facebook.png">
                
              </a>
              <p class="text-gp social-media-text">Facebook</p>
            </div>

            <div id="facebookDiv" class="">
              <a  href="https://github.com/haideralrustem" target="_blank" class="image-wrapper-a">
                <img id="facebook" class="social-media-pic" src="../../assets/github.png">
                
              </a>
              <p class="text-gp social-media-text">Github</p>
            </div>
      
      
          </div>
      
        </div>
    </div>
</div>

