<div id="main">

<div class="my-card">
<div class="container pt-4">
  
  <div class="row  pt-3">
      <div class="" style="width:100%;">
        <h3 class="header-text">Haider Al-Rustem</h3>
      </div>
  </div>
</div>

<div class="container pt-2">
  <div class="row">
    <div class="col-xs-12"  style="width:100%;">
    <hr class="separator" style="width:100%;">
  </div>
  </div>
</div>

  

<div class="container pt-4">

  <div class="row ">
      <div class="col-xs body-text">

        <p>2630 Bissonnet St. Apt 4201 , Houston, Texas, 77005</p>
        <p>Phone: (832)249-0063 </p>
        <p>Email: haideralrustem@yahoo.com </p>
        <p>Born: August 25th, 1990</p>
      </div>
  </div>
</div>

</div>

<div class="my-card">
  <div class="container pt-4">
    <div class="row"><h3 class="header-text">Education</h3></div>
    <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
          <ul>
         
            
              <table>
                <tr>
                <td>
                  <span class="list-arrow">></span>Master of Science (M.S.) in Healthcare Informatics, the Health Data Science track. <a href="https://sbmi.uth.edu/" target="_blank">At the University of Texas at Health Science Center</a>. GPA = 4.00 
                </td>
                
                <td>(May 2018- May 2020)</td>
                
                </tr>

                <tr>
                  <td><span class="list-arrow">></span>Certificate of Biomedical Informatics, <a href="https://sbmi.uth.edu/" target="_blank">at the University of Texas at Health Science Center</a>. GPA = 4.00</td>
                  <td>(May 2017-May 2018. Houston, TX, U.S)</td>
                </tr>

                <tr>
                  <td>Bachelor of Science, Pharmacy, University of Jordan, school of pharmacy. GPA = 2.9</td>
                  <td>(2008- 2013. Amman/Jordan)</td>
                </tr>
                
              
              </table>
          </ul>
        </div>
    </div>
  </div> 
</div>
  
<div class="my-card">
  <div class="container pt-4">
    <div class="row"><h3 class="header-text">Professional Experience</h3></div>
    <hr class="separator">
    
    <div class="row ">
        <div class="col-xs body-text">
          
            <table>
              <tr>
                <td><span class="list-arrow">></span>Research Assistant/ Programmer, tasked with the Management of research data using <a href="https://redcap.uth.tmc.edu/" target="_blank"><span style="font-weight: bold; color:red;;">RED</span><span style="color:black; font-weight: bold;">Cap</span></a> databases.  
                  <br><a href="https://med.uth.edu/internalmedicine/cardiovascular-medicine/" target="_blank">The department of Cardiovascular and thoracic surgery at The University of Texas Health Science Center (UTH).</a>
                </td>
                <td>(Dec 2019- Present).</td>
              </tr>

              <tr>
                <td><span class="list-arrow">></span>Graduate Teaching Assistant Information Visualization course which focused on <a href="https://www.tableau.com/" target="_blank">Tableau software</a> mastery
                 <br> <a href="https://sbmi.uth.edu/" target="_blank">The school of Biomedical Informatics at The University of Texas Health Science Center (UTH)</a>
                </td>
                <td> (Sep – Dec 2019). </td>
              </tr>


              <tr>
                <td><span class="list-arrow">></span>Intern at <a href="https://www.altibbi.com/">Altibbi.com</a> startup, which ran a healthcare-information website (May-July 2012. Amman, Jordan ).
                <br> Working with a team of programmers and developers on online models that provide patients with medical information about their queries, such as the Online Symptom Checker (using HTML, CSS, JavaScript).
              </td>

                <td>(May-July 2012. Amman, Jordan )</td>
              </tr>
            </table>
    

    </div>
    </div>
  </div>
</div>


<div class="my-card">
<div class="container pt-4">
  <div class="row "><h3 class="header-text">Key Skills And Competencies</h3></div>
  <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
          <ul>
            <li>Proficiency at using Microsoft <b>Word, Excel, and Power Point</b></li>
            <li>Ability to utilize web search-engines to extract complex information. </li>
            <li>Ability to program in <b>Java (Object Oriented Programming), Python, and JavaScript</b> programming languages.</li> 
            <li>Ability to use <b>Android Studio</b> to create basic apps.</li>
            <li>Technical knowledge in <b>HTML, CSS, Angular 2, XML, and JSON </b>. </li>
            <li>Ability to use <b>SQL</b> for querying, joining, creating and altering tables.</li>
            <li>Ability to use <b>Tableau</b> software for data visualization and creating dashboards.</li>
            <li>Love for problem solving and troubleshooting. </li>
            <li>Great teamwork-coordination skills.  </li>
            <li>Avid public speaker, with an outgoing personality.</li>
          </ul>
        </div>

    </div>
</div>
</div>

<div class="my-card">
<div class="container pt-4">
  <div class="row "><h3 class="header-text">Side Project</h3></div>
  <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
            RePark, which is an android app that assists users in remembering where they parked in multi-floor buildings. 
            It was written with Java (<a href="https://play.google.com/store/apps/details?id=com.haideralrustem1990.repark">available at Google Store here</a>)
        </div>
    </div>
</div>
</div>

<div class="my-card">
<div class="container pt-4">
    <div class="row "><h3 class="header-text">Community Service</h3></div>
    <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
          <ul></ul>
            <li>Volunteer at <a href="http://www.memorialhermann.org/">Memorial Hermann Hospital</a> In the Pharmacy Operations Division. (2014. Houston, Texas).  </li>
            <li>Volunteer for the Jordanian Pharmacist Students Association (JPSA) Diabetes and Hypertension awareness campaign (2010-2012. Amman, Jordan). </li>
        </div>
    </div>
</div>
</div>

<div class="my-card">
<div class="container pt-4">
    <div class="row "><h3 class="header-text">Hobbies</h3></div>
     <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
           <ul>
              <li>Soccer</li>
              <li>Cycling</li>
              <li>Movies</li>
              <li>Playing the guitar</li>
              <li>Reading history and philosophy books</li>
              <li>Drawing</li>
              <li>Golf</li> 
           </ul>
        </div>
    </div>
</div>
</div> 
   
<div class="my-card">
<div class="container pt-4">
    <div class="row "><h3 class="header-text">References</h3></div>
  <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
           <ul>
              <li><a href="https://sbmi.uth.edu/faculty-and-staff/assaf-gottlieb.htm">Assaf Gottlieb</a>, PhD. Assistant Professor at the School of Biomedical Informatics (SBMI), University of Texas Health Science Center. Contact: Assaf.Gottlieb@uth.tmc.edu</li>
              <li><a href="https://med.uth.edu/cvs/faculty/charles-c-miller-phd/">Charles C. Miller</a> a, PhD, Professor at the Cardiothoracic And Vascular Surgery Department, Memorial Hermann Hospital. Houston, TX, U.S. Contact email: Charles.C.Miller@uth.tmc.edu </li>
              
           </ul>
        </div>
    </div>

</div>
</div>

</div>

