#main {
  /* background-image: url('../../assets/architecturalbuilding.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; */
  background: #6190E8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding-top: 5%;
  font-size: 18px;
  padding-bottom: 5%;
}


span.material-icons {
    color: #6610f2
}


.scroll-in-show , .dynamic-show, .latent {
    opacity: 0;
    transition: 1s opacity ease-in-out;
    
}

.bold {
    font-weight: bold;
}
h3 {
    width: 100%;
    margin-left: 1%;
}
ul {
    margin-left: 1px;
    padding-left: 1px;
}
tr {
    margin-bottom: 1%;
}
td {
    vertical-align: top;
    margin: 1%;
    padding: 2%;
}

.my-card {
    background: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    border-radius: 15px;
    border: 3px solid transparent;
    box-shadow: 0px 0px 6px 2px #00bfff;
    transition: 0.7s background-color ease-in-out, 0.7s box-shadow ease-in-out,
    0.7s border ease-in-out, 1s opacity ease-in-out;
}
.my-card:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 5px #d058ffb9;
    border: 3px solid #8303b6ea;
    text-shadow: 0px 0px 0.5px #101010;
}

.my-card.mc8 {
    
}
.header-text {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
}

.enlarged-header {
    font-weight: bold;
    text-shadow: 0px 2px 11px #7ebbf2;
}

.body-text {
    font-family: 'Palatino Linotype', serif;
}
.separator {
    box-shadow: inset 0 12px 12px -12px blue;
    border: 0;
    height: 8px;
    width: 100%;
}

.list-arrow {

}

.arrow {
    border: solid rgb(32, 68, 226);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
   
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.programming-lang-link {
    font-weight: bold;
    font-size: 19px;
    border-radius: 10px;
    padding: 3px;
    transition: 0.2s all ease-in-out;

}

.programming-lang-link:hover {
    background-color: #e4f8f5;
}


.back-top-btn {
    position: fixed;
    right: 0%;
    bottom: 0%;
    border: none;
    width: 150px;
    height: 150px;
    background: url("../../assets/back_top.png") no-repeat scroll 0 0 transparent;
    transform: scale(0.5);
    opacity:0.8;
}

.back-top-btn:hover {
    opacity:1; 
}
