<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<a id="top"></a>
<div id="main">


<div class="my-card mc1">
<div class="container pt-4">
  
  <div class="row  pt-3">
      <div class="" style="width:100%;">
        <h3 class="header-text">Haider Al-Rustem <span class="material-icons">
          verified
          </span> </h3>
      </div>
  </div>
</div>

<div class="container pt-2">
  <div class="row">
    <div class="col-xs-12"  style="width:100%;">
    <hr class="separator" style="width:100%;">
  </div>
  </div>
</div>

  

<div class="container pt-4">

  <div class="row ">
      <div class="col-xs body-text">

        <p><span  class="material-icons">
          home 
          </span>
          
          <a target="_blank" href="http://maps.google.com/?q=2630 Bissonnet St. Apt 4201 , Houston, Texas, 77005">
          2630 Bissonnet St. Apt 4201 , Houston, Texas, 77005</a>
        </p>
          
        <p>
          <span class="material-icons">
            settings_cell
            </span>
          Phone: (832)249-0063 
          
            <span id="work-phone-span" style="margin-left: 90px">
              <span class="material-icons">
                call 
              </span>
              Work phone: +1 (713) 486-5100</span></p>

          <p id="work-phone-span-mob" >
            <span class="material-icons">
              call 
            </span>
            Work phone: +1 (713) 486-5100</p>
        <p><span class="material-icons">
          email 
          </span>
          Email: haideralrustem@yahoo.com </p>
        <p> <span class="material-icons">
          av_timer 
          </span>
          Born: August 25th, 1990</p>
      </div>
  </div>
</div>

</div>

<div class="my-card mc2  dynamic-show">
  <div class="container pt-4">
    <div class="row"><h3 class="header-text">
      <span class="material-icons">
         school
        </span>
      Education</h3></div>
    <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
          <ul>
         
            
              <table>
                <tr>
                <td>
                  <i class="arrow right"></i> &nbsp;
                  Master of Science (M.S.) in Healthcare Informatics, the Health Data Science track. <a href="https://sbmi.uth.edu/" target="_blank">At the University of Texas at Health Science Center</a>. GPA = 4.00 
                </td>
                
                <td>(May 2018- May 2020)</td>
                
                </tr>

                <tr>
                  <td><i class="arrow right"></i> &nbsp;
                    Certificate of Biomedical Informatics, <a href="https://sbmi.uth.edu/" target="_blank">at the University of Texas at Health Science Center</a>. GPA = 4.00</td>
                  <td>(May 2017-May 2018. Houston, TX, U.S)</td>
                </tr>

                <tr>
                  <td><i class="arrow right"></i> &nbsp;
                    Bachelor of Science, Pharmacy, University of Jordan, school of pharmacy.</td>
                  <td>(2008- 2013. Amman/Jordan)</td>
                </tr>
                
              
              </table>
          </ul>
        </div>
    </div>
  </div> 
</div>
  
<div class="my-card mc3 scroll-in-show" >
  <div class="container pt-4">
    <div class="row"><h3 class="header-text">
      <span class="material-icons">
         work
        </span>
      Professional Experience</h3></div>
    <hr class="separator">
    
    <div class="row ">
        <div class="col-xs body-text">
          
            <table>
              <tr>
                <td><i class="arrow right"></i> &nbsp;
                  Research Assistant/ Programmer, tasked with the Management of research data using <a href="https://redcap.uth.tmc.edu/" target="_blank"><span style="font-weight: bold; color:red;;">RED</span><span style="color:black; font-weight: bold;">Cap</span></a> databases.  
                  <br><a href="https://med.uth.edu/internalmedicine/cardiovascular-medicine/" target="_blank">The department of Cardiovascular and thoracic surgery at The University of Texas Health Science Center (UTH).</a>
                </td>
                <td>(Dec 2019- Present).</td>
              </tr>

              <tr>
                <td><i class="arrow right"></i> &nbsp;
                  Graduate Teaching Assistant Information Visualization course which focused on <a href="https://www.tableau.com/" target="_blank">Tableau software</a> mastery.
                 <br> <a href="https://sbmi.uth.edu/" target="_blank">At The school of Biomedical Informatics at The University of Texas Health Science Center (UTH).</a>
                </td>
                <td> (Sep – Dec 2019). </td>
              </tr>


              <tr>
                <td><i class="arrow right"></i> &nbsp;
                  Intern at <a href="https://www.altibbi.com/" target="_blank">Altibbi.com</a> startup, which ran a healthcare-information website.
               
              </td>

                <td>(May 2012-July 2013. Amman, Jordan)</td>
              </tr>
            </table>
    

    </div>
    </div>
  </div>
</div>


<div class="my-card mc4 scroll-in-show">
<div class="container pt-4">
  <div class="row "><h3 class="header-text">
    <span class="material-icons">
       integration_instructions
      </span>
    Technical Skills And Competencies</h3></div>
  <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
          <table>
            <tr>
              <td><i class="arrow right"></i> &nbsp; 
                Ability to program in 
                <a href="https://www.java.com/en/" class="programming-lang-link" target="_blank">Java</a>, 
                <a href="https://www.python.org/" class="programming-lang-link" target="_blank">Python</a>, 
                <a href="https://www.javascript.com/" class="programming-lang-link" target="_blank">JavaScript</a>, and 
                <a href="https://www.r-project.org/" class="programming-lang-link" target="_blank">R</a> programming languages.  </td>
            </tr>
            <tr>
              <td>
                <i class="arrow right"></i> &nbsp; Ability to use  <a href="https://www.python.org/" class="programming-lang-link" target="_blank">Python</a>
                 and <a href="https://www.r-project.org/" class="programming-lang-link" target="_blank">R</a> for basic data analysis and visualization.
              </td>
            </tr>

            <tr>
              <td>
                <i class="arrow right"></i> &nbsp; Ability to write web elements in <a href="https://en.wikipedia.org/wiki/HTML#:~:text=The%20HyperText%20Markup%20Language%2C%20or,scripting%20languages%20such%20as%20JavaScript.&text=HTML%20elements%20are%20the%20building%20blocks%20of%20HTML%20pages." class="programming-lang-link" target="_blank">HTML</a>;
                 style them with <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" class="programming-lang-link" target="_blank">CSS</a>; 
                 and manipulate them with <a href="https://www.javascript.com/" class="programming-lang-link" target="_blank">JavaScript</a>.
              </td>
            </tr>

            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Technical understanding of <span class="bold">API</span> requests, XML, and <span class="bold">JSON</span></td>
            </tr>
            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Ability to use <a href="https://www.oracle.com/database/technologies/appdev/sql.html" class="programming-lang-link" target="_blank">SQL</a> 
                for querying, joining, creating and altering tables</td>
            </tr>

            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Ability to use <a href="https://www.tableau.com/" class="programming-lang-link" target="_blank">Tableau</a> 
                software for data visualization and for creating dashboards.
              </td>
            </tr>

            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Familiarity with <a href="https://github.com/haideralrustem" class="programming-lang-link" target="_blank">GitHub</a> Version Control basic commands (add, push, pull, commit).
              </td>
            </tr>

          </table>
            
           
          
        </div>

    </div>
</div>
</div>


<div class="my-card mc9 scroll-in-show">
  <div class="container">
    <div class="row " style="margin-top: 3%;"><h3 class="header-text">
      <span class="material-icons">
        groups
        </span>
      Other Skills</h3></div>
    <hr class="separator">
      <div class="row ">
          <div class="col-xs body-text">
            <table>

              <tr>
                <td><i class="arrow right"></i> &nbsp;
                  Analytical approach to problem solving.
                </td>
              </tr>

              <tr>
                <td><i class="arrow right"></i> &nbsp;
                  Great social skills with an outgoing personality.
                </td>
              </tr>

              <tr>
                <td><i class="arrow right"></i> &nbsp;
                  Ability to get along with people from different backgrounds.
                </td>
              </tr>

              <tr>
                <td><i class="arrow right"></i> &nbsp;
                  Proficiency at using <span class="bold">Microsoft Word</span>, <span class="bold">Excel</span>, and <span class="bold">Power Point</span>.                  
                </td>
              </tr>


            </table>
          </div>
      </div>
  </div>
</div>


<div class="my-card mc5 latent">
<div class="container pt-4">
  <div class="row "><h3 class="header-text">
    <span class="material-icons">
        devices
      </span>
     Side Projects</h3></div>
  <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
          <table>
            <tr>
              <td>
                <i class="arrow right"></i> &nbsp;
                RePark: an android app that assists users in remembering where they parked in multi-floor buildings. 
                (<a href="https://play.google.com/store/apps/details?id=com.haideralrustem1990.repark">available at Google Store here</a>)
              </td>
            </tr>

            <tr>
              <td>
                <i class="arrow right"></i> &nbsp;
                Data Visualization gallery using Tableau public. <a href="https://public.tableau.com/profile/haider.al.rustem#!/?newProfile=&activeTab=0" target="_blank">Check it out here</a>
              </td>
            </tr>

          </table>
          
        </div>
    </div>
</div>
</div>

<div class="my-card mc6  latent">
<div class="container pt-4">
    <div class="row "><h3 class="header-text">
      <span class="material-icons">
         emoji_people
        </span>
       Community Service</h3></div>
    <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">

          <table>
            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Volunteer at <a href="http://www.memorialhermann.org/" target="_blank">
                  Memorial Hermann Hospital</a>.
              </td>
            </tr>
            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Volunteer for the <a href="http://www.jpsa-ipsf.org/" target="_blank">Jordanian Pharmacist Students Association (JPSA).</a> 
              </td>
            </tr>
          </table>
         
            
        </div>
    </div>
</div>
</div>

<div class="my-card mc7  latent">
<div class="container pt-4">
    <div class="row "><h3 class="header-text">
      <span class="material-icons">
         sports_soccer
        </span>
       Hobbies</h3></div>
     <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
          <table>
            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Soccer and Cars
              </td>
            </tr>
            
            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Reading history and philosophy books
              </td>
            </tr>

            <tr>
              <td><i class="arrow right"></i> &nbsp;
                Movies and music
              </td>
            </tr>
          </table>
        </div>
    </div>
</div>
</div> 
   
<div class="my-card mc8  latent">
<div class="container pt-4">
    <div class="row "><h3 class="header-text">
      <span class="material-icons">
         list_alt
        </span>
       References</h3></div>
  <hr class="separator">
    <div class="row ">
        <div class="col-xs body-text">
          <table>
            <tr>
              <td><i class="arrow right"></i> &nbsp;
                <a href="https://sbmi.uth.edu/faculty-and-staff/assaf-gottlieb.htm" target="_blank">Assaf Gottlieb</a>, PhD. Assistant Professor at the School of Biomedical Informatics (SBMI), University of Texas Health Science Center. Contact: Assaf.Gottlieb@uth.tmc.edu
              </td>
            </tr>

            <tr>
              <td><i class="arrow right"></i> &nbsp;
                <a href="https://med.uth.edu/cvs/faculty/charles-c-miller-phd/" target="_blank">Charles C. Miller</a> a, PhD, Professor at the Cardiothoracic And Vascular Surgery Department, Memorial Hermann Hospital. Houston, TX, U.S. Contact email: Charles.C.Miller@uth.tmc.edu
              </td>
            </tr>

          </table>
          
        </div>
    </div>

</div>
</div>

<div>
  <a href="#top"><button class="back-top-btn"></button></a>
</div>

</div>

<script>
  function hoverHeadText(){
    let es = document.querySelectorAll('.my-card');
    
    es.forEach((e)=>{
      e.addEventListener("onmouseover", function (event){
        let identifier = event.target.classList[1];
        let assocHeaderSelector = '.'+ identifier + ' '+ '.header-text';
        let assocHeader = document.querySelector(assocHeaderSelector);
        console.log(assocHeaderSelector);
        assocHeader.classList.toggle('enlarged-header');
      });

      e.addEventListener("onmouseout", function (event){
        es.forEach((e)=>{
          let identifier = event.target.classList[1];
          let assocHeaderSelector = '.'+ identifier + ' '+ '.header-text';
          let assocHeader = document.querySelector(assocHeaderSelector);
          console.log(assocHeaderSelector);
          assocHeader.classList.toggle('enlarged-header');
        });
      });


    });

  }
alert();

  hoverHeadText();
</script>


