<!--The content below is only a placeholder and can be replaced.-->
<!--Redesigned navbar-->
<div id="navbarWrapper">
  <nav class="desk">
    <ul class="nav">
      <li><a routerLink='home' routerLinkActive='active'>Home</a></li>
      <li><a routerLink='me' routerLinkActive='active'>About</a></li>

      <li><a routerLink='contact' routerLinkActive='active'>Contact</a></li>
    </ul>
  </nav>

  <nav class="mob">
      <div class="d-flex justify-content-end" id="outerHamburger">
        <div id="hamburger" (click)="onClickHamburgerButton()">

          <div id="hamWrap">
            <img id="hamburgerIcon" src="../assets/Hamburger_icon.png">
          </div>

        </div>
      </div>

      <div id="mobListWrap">
        <div #listExpander id="listExpander">
          <ul class="nav" >
            <li><a routerLink='home' routerLinkActive='active'>Home</a></li>
            <li><a routerLink='me' routerLinkActive='active'>About</a></li>

            <li><a routerLink='contact' routerLinkActive='active'>Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
</div>



    <div id="routerOutlet">
      <router-outlet></router-outlet>
    </div>
