body {
    overflow: hidden;
}

#homeMain{
    
}
 
h3.text-gp, h4.text-gp {
    color: rgb(89 67 222);
}

.debug-background {
    background: rgb(255 255 255 / 25%);
}

#frame {
    position: relative;
    height: 400px;
    width: 100%;
    /* background-image: linear-gradient( rgba(4, 40, 116, 0.301), rgba(4, 40, 116, 0.301) ),url('../../assets/architecturalbuilding.jpg'); */
    background-image: url('../../assets/purple_lapop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    transition: 0.6s all ease-in-out;
    opacity: 0;
}

.my-photo {
    position: absolute;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    top: 85%;;
    left: 40%;

    opacity: 0;
    
}
.my-photo img {
    width: 15vw;
    border-radius: 45px;
}



#leftFrame{
    width: 100%;
    height:100%;
}

#left {
    position: relative;
    left: 16%;
    top: 16%;
    width: fit-content;
}


.alt-header-text {
    color: white;
    font-family: 'Palatino Linotype', serif;
    text-shadow: 1px 2px black;
}

.my-name {
    display: inline-block;
    transition: 0.3s all ease-in-out;
    font-family: 'Cairo', sans-serif;
    font-style: italic;
    padding-left: 10px;
    padding-right: 14px;
}

.my-name:hover {    
    transform: scale(1.2);
   
}

.my-name a {
    text-decoration: none;
    color: #87daf8;
}
.my-name a:hover {
   
    color: #aeecfc;
    text-shadow: 0px 0px 3px #aeecfc;
}



.welcome {
    height: fit-content;
    width: 60vw;
    /* background-color: #cac6c642; */
    font-family: monospace, sans-serif;
    font-size: 200%;
    /* opacity: 0; */
    text-align: center;
    background: rgb(255 255 255 / 25%);
    border-radius: 20px;

    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    

    transition: 0.9s all ease-in-out;
}





.welcome-text {
    color: beige;
    font-family: 'Cairo', sans-serif;
}


.header-text {
    color: rgb(160 251 255);
    font-family: 'Palatino Linotype', serif;
    text-shadow: 1px 2px black;
    
}

.separator1 {
    color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.336);
}

#subTitle {
    position: relative;
    top: 200%;

    width: 100%;
    color :#130f40;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    opacity: 0;
    border-radius: 13px;
    text-align: center;
    text-shadow: 0px 1.1px #a9a7a7;
    background: rgb(255 255 255 / 65%);
    
    margin-left: 0%;
    padding: 1%;
    transition: 0.3s text-shadow ease-in-out, 0.1s color ease-in-out,
                0.1s box-shadow ease-in-out;
    
    
}
#subTitle:hover {
    color: #5a2cff;
    background: rgb(255 255 255 / 85%);
    text-shadow: 0px 0px 0px #0c90fa;
    box-shadow: 0px 0px 20px 5px #87daf8;
}

.subTitle-link {
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}




#segway {
    
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px  black;
    font-size: 130%; 
    margin-top: 5%;  
    
}
#segwayHr {
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    border: 0;
    height: 8px;
}

.projects-main-wrap {
    padding-left: 6%;
    padding-right: 6%;
}

.showCaseWrapper {
    width: 74%;
    margin-left: 14%;
}
.showcase {
    
    margin-top: 3%;
    /* background: #d07af28a; */
    background: #b57ddb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f3b7b6, #b57ddb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f3b7b6, #b57ddb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.scroll-in-show {
    opacity: 0;
    transition: 1s opacity ease-in-out;
}
#personalProjectsText {
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 120%;
}
.title-container {
    
}
.card-title {
    font-family: "Lucida Console";
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    color: #26005e;
}
.feature-list {
    font-size: 16px;
    font-family: cursive, sans-serif;
    color: rgb(49, 49, 49);
}
.feature-intro {
    font-weight: bold;
}
#bottomFeatureRow {
    font-size: 120%;
}
bottomFeatureRow a {
    text-decoration: underline;
    color: blue;
}
#featurePhotoRow {
    height: 100%;
}

.project-description-text{
        padding: 0 0 0 5%;
}


.image-wrapper {

    height: 100%;
}

.image-wrapper a {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    height: 100%;
}
.image-wrapper-a {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.second .image-wrapper a {
    padding-top: 3%;
}

#imageWrapperDjango {
    overflow: visible;
}

#imageWrapperDjango a {
    overflow: visible;
}
#djangoAppScreen {
    width: 45%;
    transition: transform 1s ease;
    border-radius: 10px;
}

#reparkScreen {
    width: 61%;
    height: 100%;
    transition: transform 1s ease;
}
#tableauScreen {
    border-radius: 10px;
    width: 61%;
    height: 55%;
    transition: transform 1s ease;
}

#djangoAppScreen:hover {
    transform: scale(1.19);
    box-shadow: 0px 0px 10px 5px #bc87f8;
}
.image-wrapper:hover img {
    transform: scale(1.19);
    
}
.second .image-wrapper:hover img {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px #bc87f8;
}

.resumeText {
    text-align: center;
}
.resumeText h4 {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    
}


.resumeHr {
    width: 70%;
    border: 1px solid rgba(143, 143, 143, 0.582);
}


#resumeWrap {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    
}

.resume-img-wrap {
    border: 3px solid transparent;
    overflow: hidden;
    height: 17vw;
    margin-bottom: 3%;
    border-radius: 10px;
}
.resume-img-wrap:hover {
    border: 3px solid #0984e3;
}
#resume {
    transition: transform .5s ease;
    height: 20vw;
    padding-bottom: 5%;
    width: 51vw;
    
}
#resume:hover {
    transform: scale(1.1);
}


.social-media-panel-outer {
    margin-left: 2%;
    margin-top: 18px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    width: 95%;
}
.social-media-panel-outer a {
    
  transition: transform .5s ease;
}
.social-media-panel-outer a:hover {
    transform: scale(1.2);
}
.social-media-panel {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    width: 40%;
}
#facebookDiv, #githubDiv {
    width: 80%;
    display: inline-grid;
}
#linkedinDiv {
    width: 80%;
    display: inline-grid;
}
.social-media-text {
    text-align: center;
    margin-top: 5%;
}
.social-media-pic {
  
}
#linkedin {
    width: 40%;
    
}
#facebook {
   width: 40%;
   border: 1px transparent white;
   border-radius: 7%; 
}



/* misc classes  */

.bordered {
    border: 1px solid gray;
}

.separator-styled{
    display: inline-block;
    width: 100%;
    height: 1px;
    border-style: solid;
    border-width: 8px 11px 0 0px;
    border-color: #0c90fa transparent transparent;
    transition: 0.7s opacity ease-in-out;
    opacity: 0;
}

.separator2 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.image-container.welcome-img {
    position: relative;
    left: 80%;

    width: 100%;
    overflow: visible;
    display: block;
    padding-left: 2%;

    transition: 1s all ease-in-out;
    
}
.pre-animation-left {
    left: 200%;  
}
.pre-animation-top {
    top: 200%;  
}
.post-animation-left  {
    left: 0%;
}
.post-animation-top {
    top: 0%;
}

.image-container {
    overflow: hidden;
}

.image-container a {
    overflow: hidden;
}
.bolding {
    font-weight: bold;
}

#formWrapper {
    margin-bottom: 15%;
}


/* for media queries:
change:
#frame
#right
#welcome
#me
#subTitle
*/
@media  screen and (min-width: 320px) and (max-width: 480px) {
    /* Styles */
    #right {
        height: 25vw;
        width: 400px;
    }

    #leftFrame .text-gp  {
        font-size: 16px;
    }

    #leftFrame .welcome-text-wrap span, .my-name {
        font-size: 80%;
    }

    #left {
        left: 17%;
        top: 20%;
        width: 60vw;
    }

    .projects-main-wrap {
        padding-left: 1%;
        padding-right: 1%;
    }
    .showCaseWrapper {
        width: 93%;
        margin-left: 4%;
    }
    .image-container.welcome-img.post-animation-left {
        left: 0%;
    }

    .row project-description-text .text-gp {
        font-size: 16px;
    }

    
    #reparkScreen {
        width: 38%;
        height: 60%;
    }
    .productPhoto {
        height:fit-content;
    }
    .image-wrapper-a {
        width: 20vw;
    }

    #social-media-connect {
        width: 90%;
        margin-left: 4%;
    }
    
}



@media  screen and (min-width: 480px) and (max-width: 568px) {
    
    #left {
        left: 17%;
        top: 20%;
        width: 60vw;
    }

    .showCaseWrapper {
        width: 93%;
        margin-left: 4%;
    }

    .image-wrapper-a {
        width: 18vw;
    }

    .image-container.welcome-img.post-animation-left {
        left: 0%;
    }

    #reparkScreen {
        width: 38%;
        height: 60%;
    }
    .productPhoto {
        height:fit-content;
    }

    #social-media-connect {
        width: 90%;
        margin-left: 4%;
    }

    .my-photo {
       top: 85%;;
    }
    .my-photo img {
        width: 10vw;
        border-radius: 45px;
    }
    #subTitle {
        font-size: 19px;
    }


}

@media screen and (min-width: 568px) and (max-width: 768px) {
    
    #leftFrame {
        overflow: visible;
        max-width: 36vw;
    }
    #left {
        left: 41%;
        top: 20%;
    }
    .image-container.welcome-img {
        
    
    }

    .showCaseWrapper {
        width: 90%;
        margin-left: 6%;
    }

    .image-container.welcome-img.post-animation-left {
        left: 0%;
    }
    .post-animation-top {
        top: 0%;
    }
    #reparkScreen {
        width: 38%;
        height: 60%;
    }
    .productPhoto {
        height:fit-content;
    }


    .my-photo {
        top: 72%;
    }
    .my-photo img {
        width: 12vw;
        border-radius: 45px;
    }
    #subTitle {
        font-size: 20px;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 900px) {
   
    .image-container.welcome-img.post-animation-left  {
        left: 0%;
    }
    .post-animation-top {
        top: 0%;
    }
    #reparkScreen {
        width: 45%;
        height: 60%;
    }
    .productPhoto {
        height:fit-content;
    }

    .my-photo {
        top: 72%;
    }
    .my-photo img {
        width: 12vw;
        border-radius: 45px;
    }
    #subTitle {
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .image-container.welcome-img.post-animation-left {
        left: 0%;
    }
    .post-animation-top {
        top: 0%;
    }

    .welcome {        
        width: 55vw;
    }
    #reparkScreen {
        width: 43%;
        height: 60%;
    }
    .productPhoto {
        height:fit-content;
    }

    .my-photo {
        top: 75%;
    }
    .my-photo img {
        width: 8vw;
        border-radius: 55px;
    }
    #subTitle {
        font-size: 20px;
    }
    
}


@media screen and (min-width: 1000px) and (max-width: 1200px) {
    #djangoAppScreen {
        width: 65%;
    }
    #reparkScreen {
        width: 45%;
        height: 82%;
    }
    .image-wrapper {
        padding-top: 10px;
    }
    .image-wrapper:hover img {
        transform: scale(1.2);
    }

    .welcome {
        padding-bottom: 3%;
        width: 55vw;
    }
    .image-container.welcome-img.post-animation-left  {
        left: 0%;
    }
    .post-animation-top {
        top: 0%;
    }

     #reparkScreen {
        margin-top: 1%;
        width: 43%;
        height: 60%;
    }
    .productPhoto {
        padding-top: 5%;
        height:100%;
    }
    .repark .productPhoto {
        width: 55%;
    }

    .my-photo {
        top: 75%;
    }
    .my-photo img {
        width: 8vw;
        border-radius: 65px;
    }
    #subTitle {
        font-size: 23px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1380px) {
    .welcome {
        padding-bottom: 4%;
        width: 56vw;
    }
    .image-container.welcome-img.post-animation-left {
        left: -3%;
    }


    #djangoAppScreen {
        width: 65%;
    }

    #reparkScreen {
        margin-top: 1%;
        width: 43%;
        height: 60%;
    }
    .productPhoto {
        padding-top: 5%;
        height:100%;
    }
    .repark .productPhoto {
        width: 55%;
    }



    .my-photo {
        top: 70%;
    }
    .my-photo img {
        width: 8vw;
        border-radius: 65px;
    }
    #subTitle {
        font-size: 23px;
    }
}
@media screen and (min-width: 1380px) {
    .welcome {
        padding-bottom: 4%;
        width: 56vw;
    }
    .image-container.welcome-img.post-animation-left {
        left: -3%;
    }

    .showCaseWrapper {
        width: 60%;
        margin-left: 18%;
        
    }
    #djangoAppScreen {
        width: 65%;
    }
    #reparkScreen {
        margin-top: 1%;
        width: 43%;
        height: 60%;
    }
    .productPhoto {
        padding-top: 5%;
        height:100%;
    }
    .repark .productPhoto {
        width: 55%;
    }


    .my-photo {
        top: 71%;
    }
    .my-photo img {
        width: 6vw;
        border-radius: 65px;
    }
    #subTitle {
        font-size: 23px;
    }
    
}



/* ...............STYLING THE PROFILE PHOTO............. */



/* ............ LEGACY .................. */
@media screen and (min-width: 992px){
    
}
@media screen and (max-width: 768px){
    
}

/* ............................ */