<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
<div id="homeMain">
  
  <div id="frame">

    <div class="my-photo">
      <a routerLink='/me' routerLinkActive='active'>
        <img src="../../assets/haider_smile_image2.jpg">
      </a>
      
    </div>

    <div id="leftFrame">
      <div id="left">
        <div class="image-container welcome-img "
        [ngClass]="{'post-animation-left': this.visible === '1' }">


          <!-- <h2 id="welcome" class="header-text text-gp"><span class="alt-header-text">Welcome to </span> 
                 
              
          <div class="my-name-expander">
            <span class="bolding my-name">
              <a class="header-text" routerLink='/me' routerLinkActive='active'>
              HAIDER'S
              </a>
            </span>
          </div>

          landing page

          </h2> -->
        
        <div class="welcome" 
        [style.opacity]="this.visible === '1' ? '1' : '0'">
          <div class="welcome-text-wrap">
            <span class="welcome-text"> Welcome to 
            </span>
            <div class="my-name"><a routerLink='/me' routerLinkActive='active'>HAIDER's</a></div>
            <span  class="welcome-text">
              Landing page..
            </span>

          </div>
          
        </div>




                        
        </div>
        <hr class="separator-styled">
        <a class="subTitle-link" routerLink='/me' routerLinkActive='active'>
          <p class="text-gp" id="subTitle">Here you can learn more about 
            ME </p>
        </a>
        
        
      </div>

    </div>
    
  </div>

  

  <!-- Showcase the projects -->
  <div class="projects-main-wrap">

    <div id="segway" >
      <h3 id="personalProjectsText" class="text-gp">Side Projects:</h3>
    </div>
    <hr id="segwayHr" class="separator1" style="width:100%;">

    <!---->


    
    <div class="showCaseWrapper"> 
      <div class="container showcase scroll-in-show earlier repark">
        
         
        <div class="row">

          <!--Main Col-1-->
          <div class="col-md ">
            
            <div class="row">
              
                <div class="col-sm m-4  justify-content-center title-container"> 
                  <h3 class="card-title text-gp">Projects Showcase Web App</h3>
                  <hr class="separator1" style="width: 100%; border: 1px ridge grey; ">
                </div>
              
            </div>
            
            <div class="row project-description-text">  <!-- Features Description section -->
                <div class="col-sm">
                  <div class="row">
                    <div class="col-sm"><p class="feature-intro text-gp">A Projects Showcase website that was built using Django framework.
                      
                    </p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm ml-1">
                        <ul class="feature-list">
                          <li class="text-gp pb-1 mb-1">Uses HTML, CSS, JavaScript</li>
                          <li class="text-gp pb-1 mb-1">Responsive design</li>
                          <li class="text-gp pb-1 mb-1">Built with the Django framework with Python at the backend.</li>
                          <li class="text-gp pb-1 mb-1">Contains many projects, including API projects. 
                            <!-- <span style="font-style: italic; font-weight: bold;">Food Suggester</span> -->
                          </li>
                        </ul>
                      </div>
                    </div>
                  <div id="bottomFeatureRow" class="row">
                        <div class="col-sm ml-1 mb-5"><a href="http://ec2-35-166-11-177.us-west-2.compute.amazonaws.com/" target="_blank">Learn More</a></div>
                  </div>
                </div>
              </div>
  
          </div>


          <!--Main Col-2-->
          <div class="productPhoto col-md">
            <div id="featurePhotoRow" class="row justify-content-center">
              <div (window:resize)="onResize($event)" id="imageWrapperDjango" class="image-wrapper">
                <a class="pb-5" href="http://ec2-35-166-11-177.us-west-2.compute.amazonaws.com/" target="_blank" >
                  <img id="djangoAppScreen" src="../../assets/djangoAppScreen.png">
                </a>
              </div>
            </div>
          </div>
         
        </div>
       </div>
      </div>

      <hr>


    <!--  -->
    
   


    <!--     -->

    

    
    <!-- -------------------------------------------- -->

    <div class="showCaseWrapper"> 
      <div class="container showcase scroll-in-show second">
        
         
        <div class="row">
          
          <!--Main Col-1-->
          <div class="col-md ">
            
            <div class="row">
              
                <div class="col-sm m-4  justify-content-center title-container"> 
                  <h3 class="card-title text-gp">My personal Tableau Visualization Gallery</h3>
                  <hr class="separator1" style="width: 100%; border: 1px ridge grey; ">
                </div>
              
            </div>
            
            <div class="row project-description-text">  <!-- Features Description section -->
                <div class="col-sm">
                  <div class="row">
                    <div class="col-sm"><p class="feature-intro text-gp">Tableau is a software
                      that is dedicated for visual analytics, transforming complex data into
                      simple visualizations and graphs</p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm ml-1">
                        <ul class="feature-list">
                          <li class="text-gp pb-1 mb-1">I used Tableau Public to create a gallery of visualizations</li>
                          <li class="text-gp pb-1 mb-1">These visualization are based on open-source datasets</li>
                          <li class="text-gp pb-1 mb-1"><a href="https://public.tableau.com/profile/haider.al.rustem#!/?newProfile=&activeTab=0" 
                            target="_blank">Check out my personal Gallery HERE</a></li>
                        </ul>
                      </div>
                    </div>
                  
                </div>
              </div>
  
          </div>
          <!--Main Col-2-->
          <div class="productPhoto col-md">
            <div id="featurePhotoRow" class="row justify-content-center">
              <div (window:resize)="onResize($event)" id="imageWrapper" class="image-wrapper ">
                <a class="pb-5" href="https://public.tableau.com/profile/haider.al.rustem#!/?newProfile=&activeTab=0" target="_blank">
                  <!-- <img id="tableauScreen" src="../../assets/tableau_shot.png"> -->
                  <img id="tableauScreen" src="../../assets/Tableau-final-image.png">
                   
                </a>
              </div>
            </div>
          </div>
         
        </div>
       </div>
      </div>


  </div>
   

  

  <hr class="separator2">

  <!-- Resume -->
  <div class="resumeText scroll-in-show">
    <h4 class="text-gp">View my Resume: </h4>
  </div>
  <hr class="resumeHr">

    <!-- Add image that enlarges upon hover. Image is picture of a resume-->
    <div id="resumeWrap" class="image-container scroll-in-show">

      <a  routerLink='/me' routerLinkActive='active'>
        <div class="resume-img-wrap">
          <img id="resume" src="../../assets/meme.jpg" >
        </div>
        
      </a>
    </div>
  
  <!-- social media section  -->

  <hr class="resumeHr ">
  <div class="resumeText scroll-in-show" id="social-media-connect">
    <h4 class="text-gp">Connect with me through Social Media: </h4>
  </div>

  <div class="social-media-panel-outer scroll-in-show">
    <div class="social-media-panel">
      <div id="linkedinDiv">
        <a href="https://www.linkedin.com/in/haider-al-rustem-32010515a/" target="_blank" class="image-wrapper-a">
          
            <img  id="linkedin" class="social-media-pic" src="../../assets/linkedin.png">
          
        </a>
        <p class="text-gp social-media-text">Linkedin</p>
      </div>
      <div id="facebookDiv" class="">
        <a href="https://www.facebook.com/hydar.ali.92" target="_blank" class="image-wrapper-a">
          <img id="facebook" class="social-media-pic" src="../../assets/facebook.png">
          
        </a>
        <p class="text-gp social-media-text">Facebook</p>
      </div>


      <div id="facebookDiv" class="">
        <a href="https://github.com/haideralrustem" target="_blank" class="image-wrapper-a">
          <img id="facebook" class="social-media-pic" src="../../assets/github.png">
          
        </a>
        <p class="text-gp social-media-text">Github</p>
      </div>


    </div>

  </div>

  <!-- Connect with me form -->

  <hr class="resumeHr">
  <div class="resumeText">
    <h4 class="text-gp">Send Me a Message Here: </h4>
  </div>
  
  <div  id="formWrapper">
    <app-connect-form></app-connect-form>
  </div>

    
</div>


